body{
	font-family: 'Lato', sans-serif;
	color: #676858;
	font-weight: 300;
	width: 100%;
}
.text-muted{
	color: #BCBBBB;
	font-weight: 300;
}
.text-thin{
	font-weight: 100;
}
.title-super{
	font-size: 60px;
}
.title-logo{
	margin-top: 20px;
}
.text-small{
	color:#747704;
	font-weight: 600;
}
<p>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
    </a>
</p>
    